.btn {
	color: $btn-text;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	padding: calculateRem(12px) calculateRem(20px);
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}
	&.btn--order {
		@include border-radius(5px);
		background-color: $btn-order;
		&:hover {
			color: $btn-text;
			background-color: $yellow-light;
		}
	}
	&.btn--info {
		@include border-radius(5px);
		background-color: $btn-info;
	}
	&.btn--large {
		display: inline-block;
		text-transform: capitalize;
		font-weight: normal;
		@include line-height(15);
		strong {
			@include line-height(20);
		    text-transform: uppercase;
		    margin-bottom: 8px;
		    font-weight: bold;
		    display: block;
		    font-size: 18px;
		    color: $white;
		}
	}
	&.btn__img {
		margin-left: calculateRem(30px);
		text-align: left;
		.btn__img--reverb {
			@include background-image("reverb-logo", cover);
			background-repeat: no-repeat;
			height: 41px;
			width: 150px;
			float: left;
			margin: 8px 20px 0 0;
		}
	}
}


&.btn-next {
	@include slider-btn(right);
    right: -35px;
}
&.btn-prev {
	@include slider-btn(left);
    left: -25px;
}