form {
	label {
		display: none;
	}
	input[type="text"] {
		padding: calculateRem(6px) calculateRem(10px);
		border: 1px solid $border;
		display: block;
		width: 100%;
		margin-bottom: calculateRem(20px);
	}
}