footer {
	display: block;
	width: 100%;
	z-index: $zindex--top;
	background-color: $nav;
	position: fixed;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@media screen and (min-width: 900px) {
		display: none;
	}
	div {
		border-left: 1px solid $border;
		display: inline-block;
		float: right;
		span {
			cursor: pointer;
			background: url(../img/menu-grabber.svg) no-repeat;
			background-position: center;
			background-size: cover;
			display: block;
			width: 20px;
			height: 20px;
			margin: 20px;
		}
	}
	&:after {
		clear: both;
		content: "";
	}
}