

{% extends "_layout" %}

{% block content %}
<article id="about" data-visible="false">
    {% for entry in craft.entries.section('about').limit(1).find() %}
        <div class="hero">
            {% for image in entry.hero %}
                <img src="{{ image.url }}" alt="{{ image.title }}">
            {% endfor %}
        </div><!-- /.hero -->
    	
    	<div class="flex content--padding">
            <div class="item item__about item__about--body">
                <div class="item__body">
    				{{ entry.body }}
                </div>
            </div><!-- /.item -->
            <aside class="item item__about">
                {% for image in entry.image %}
                    <div class="item__about--img">
                        <img src="{{ image.url }}" alt="{{ image.title }}">
                    </div>
                    <p><strong>{{ image.title }}</strong></p>
                {% endfor %}
            </aside>
        </div><!-- /.flex -->
    {% endfor %}
</article>
{% endblock %}
