

{% extends "_layout" %}

{% block content %}
    <article id="experiences" data-visible="false">
        {% for entry in craft.entries.section('experiences').limit(1).find() %}
        <div class="hero">
            {% for image in entry.hero %}
                <img src="{{ image.url }}" alt="{{ image.title }}">
            {% endfor %}
        </div><!-- /.hero -->
        {% endfor %}


        <div class="content">
            <div class="content--padding experiences__upcomingEvents">
                <h3>Upcoming</h3>
                <div class="flex">
                    {% for event in entry.upcomingEvents %}
                    <div class="item item__upcomingEvents ">
                        
                        <div class="flex item__upcomingEvents--body item_body">
                            {% for gallery in event.eventGallery %}
                                {% for image in gallery.featureImage %}
                                    <div class="item__upcomingEvents--img" style="background-image: url({{ image.url }})">
                                        <div class="event" style="display:none;">
                                            {{ event.eventDescription }}

                                        </div>
                                    </div>

                                {% endfor %}

                                <div class="item__upcomingEvents--details">
                                    <div class="item__body">
                                        <h4 class="item__upcomingEvent--title">
                                            {{event.title}}
                                        </h4>
                                        <span class="item__upcomingEvent--date">
                                            {{ event.eventDate|date("l, F dS") }}
                                        </span>

                                        <div class="item__upcomingEvent--detailLinks">
                                            {% if event.eventRSVPLink is not empty %}
                                                <a class="item__upcomingEvent--tickets" href="{{event.eventRSVPLink}}">
                                                    RSVP
                                                </a>
                                            {% endif %}
                                            {% if event.eventTicketLink is not empty %}
                                                <a class="item__upcomingEvent--rsvp" href="{{event.eventTicketLink}}">
                                                    TICKETS
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="content--padding experiences__recentEvents">
                <h3>Recent Events</h3>
                    <div class="recentEvents__container">
                    {% for event in entry.recentEvents %}
                        {% for gallery in event.eventGallery %}
                            {% for image in gallery.featureImage %}
                                <div class="item__gallery" data-galid="{{event.id}}">
                                    <a data-featherlight="{{ image.url }}"><img src="{{ image.url }}" alt="{{ image.title }}"></a>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>



            <div class="content--padding experiences__askAboutUs">
                <div class="flex">

                    <div class="item item__contact item__contact--message">
                        <h4>Ask About Us</h4>
                        <p>Sponsorship</p>
                        <p>Perfoming</p>
                        <p>Vending</p>
                        <p>Collaborating</p>
                        <p>Volunteering</p>
                        <p><a href="mailto:{{ email.contactField }}">{{ email.contactField }}</a></p>
                    </div><!-- /.item -->
                    <aside class="item item__contact item__contact--form">
                        <form class="newsletter-form" action="" method="POST">
                            <input type="hidden" name="action" value="mailchimpSubscribe/list/Subscribe">

                            {% if mailchimpSubscribe is defined %}
                              {% if (not mailchimpSubscribe.success) and (mailchimpSubscribe.errorCode!='1000') %}
                                <p>An error occured. Please try again.</p>
                              {% endif %}

                              {% if mailchimpSubscribe.success %}
                                <p>Thank you for signing up!</p>
                              {% endif %}
                            {% endif %}

                            <div class="field-line" style="padding-top:0;">
                              <input placeholder="Name" type="text" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
                            </div>

                            <div class="field-line">
                              <input placeholder="Company (Optional)" type="text" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
                            </div>

                            <div class="field-line">
                              <input placeholder="Phone" type="text" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
                            </div>

                            <div class="field-line">
                              <input placeholder="Email" type="text" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
                            </div>

                            <div class="field-line">
                              <textarea rows="5" placeholder="Details" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"></textarea>
                            </div>

                            <input type="submit" name="" class="btn btn--info" value="Join Us"/>
                          </form>
                    </aside>
                </div>
            </div>
        </div>
    </article>

{% endblock %}